---
import Leader from "../components/Leader.astro"
import Default from "../layouts/default.astro"
---
<Default>
<h1>The Game</h1>
<p>You are the secretary of an inter-governmental organisation. Your role is to ensure that peace and unity reigns across Lissamphibia, using your powers of negotiation, diplomacy, and spycraft.</p>
<p>Each year, you will host a meeting of the nations, where the leaders will decide on how the world will look like for the coming years. In between, you'll visit the leaders and their people, find out the issues of today, and make some friends, enemies, or even... lovers?</p>
<p>Ensure that you keep the trust of the leaders, otherwise you'll be fired. Speaking of, here they are now!</p>

<section>

<Leader name="Queen Axolotl" img="/adventuraxolotl/img/adventuraxolotl-her.png">

<p>Wise and friendly. Always willing to help. A trained psychologist.</p>

<h3>Likes:</h3>
<li>Kindness</li>
<li>Empathy</li>
<li>Fairness</li>
<li>Equality</li>

<h3>Dislikes: </h3>
<li>Taking risks</li>
<li>Acting without all the information</li>
<li>Making someone sad</li>
<li>Using force or intimidation</li>

</Leader>
<Leader name="Herzog Frog" img="/adventuraxolotl/img/adventuraxolotl-beautiful-handsome-powerful-perfect-monarch.png">

<p>Generally amicable but with a massively inflated ego. Thinks he’s the best at everything and overreacts if told otherwise.</p>

<h3>Likes:</h3>
<li>Winning</li>
<li>Shows of force</li>
<li>Competition</li>
<li>Being better than you</li>

<h3>Dislikes:</h3>
<li>Losing</li>
<li>Compromising</li>

</Leader>
<Leader name="Baron Olm" img="/adventuraxolotl/img/adventuraxolotl-olm.png">

<p>Lives in a cave. Uses drones to mine stuff. Reclusive and scheming. Always trying to trick people and quite good at it. It's difficult to figure out his true intent, most times.</p>

<h3>Likes:</h3>
<li>Being alone</li>
<li>Science</li>
<li>Optimisation</li>
<li>Schedules</li>

<h3>Dislikes:</h3>
<li>Being disturbed</li>
<li>Willful ignorance</li>
<li>People assuming that he's manipulating them</li>

</Leader>

</section>
</Default>